# Python Basics

In [1]:
# Variable assignment
x = 5
x  # the last line of a cell will always be printed, unless it is a variable assignment

5

In [2]:
# example for format string 
# the 'f' before the string indicates that it is a format string
# withing the string {variable_name} will substitute the variable
print(f"x={x}")
print(f"I can print the value of x here: {x} and again if I want to here: {x}, or I can make any expression within the curly brackets {x+1}")

# we can print sequence of values if we just list everything withing the print
print("Text", x, "Another Text")

# Basic arithmetics within Python
print("Addition: x+2=", x + 2)
print("Subtraction: x-2=", x - 2)
print("Multiplication: x*2=", x * 2)
print("Division: x/2=", x / 2)
print("Floor division: x//2=", x // 2)
print("Modulus: x%2=", x % 2)
print("Exponentiation: x^2=", x ** 2)

x=5
I can print the value of x here: 5 and again if I want to here: 5, or I can make any expression within the curly brackets 6
Text 5 Another Text
Addition: x+2= 7
Subtraction: x-2= 3
Multiplication: x*2= 10
Division: x/2= 2.5
Floor division: x//2= 2
Modulus: x%2= 1
Exponentiation: x^2= 25

In [3]:
x > 5  # Python Logical Operators: <, <=, >, >=, ==, !=, and, or, not

False

In [4]:
True | False  # bitwise operators: & (and), | (or), ^ (xor)

True

## Data Structures

In [5]:
# the name of the variable can be anything, I used an underscore (_) after each nameto differentiate them from built-in functions such as list, tuple, dict, set
list_ = [12, 4, 5, 8, 9]  # list, mutable (which means that it can be modified)
tuple_ = (12, 4, 6, 8, 9)  # tuple, immutable (which means it can not be modified)
dict_ = {'first': 12, 'second': 5, 'third': -66}  # dictionary or map
set_ = {3, 0, 1, 0, 3, 2, -3}  # set

In [6]:
# we can print any of them
set_

{-3, 0, 1, 2, 3}

In [7]:
# we can access an element of a list or tuple as
list_[1]

4

In [8]:
# we can use a so called sliching which selects multiple elements
# it is in the format of "start:stop:step_size"
list_[:2]  #first 2 elements

[12, 4]

In [9]:
list_[2:5]  # from index 2 to 5 (not included)

[5, 8, 9]

In [10]:
list_[1:6:2]  # from index 1 to 6 (not included) with the step size of 2

[4, 8]

In [11]:
# we can use negative indices as well which starts the indexing from the end of the array
list_[-1]  # last element of the array

9

In [12]:
list_[-2:]  # last to element of the array

[8, 9]

In [13]:
list_[1:-1]  # every element except the first and the last

[4, 5, 8]

In [14]:
# by not providing value, the defaults are: start=0, stop=len(array), step_size=1
# so if we just wish to select every second element from the array we can just provide the step size as:
list_[::2]

[12, 5, 9]

In [15]:
# we can access the elements of a dictionary with its keys
dict_["second"]

5

## Loops and List Comprehension

In [16]:
# we can define a for loop within python as "for element_variable in structure"
for x in list_:
    print(x)

12
4
5
8
9

In [17]:
# we can define ranges
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
# we can iterate structures with indices
for i in range(len(list_)):
    print(list_[i])  # list_[i] accesses the ith element of list_

12
4
5
8
9

In [19]:
# or if we need the value and index at once
for i, value in enumerate(list_):
    print(i, value)

0 12
1 4
2 5
3 8
4 9

In [20]:
# iterating dictionaries if a little bit different
# accessing keys only
for key in dict_.keys():
    print(key)  # we can access the value as dict_[key] if we want to

first
second
third

In [21]:
# accessing values only
for value in dict_.values():
    print(value)

12
5
-66

In [22]:
# accessing both keys and values
for key, value in dict_.items():
    print(key, value)

first 12
second 5
third -66

In [23]:
# list comprehension is a compact way of accessing elements
# for example lets say we want to filter values from a list, lets say we want to keep the positive values only
numbers = [-1, 3, 2, -4, 5, 1, 4, -3, 1]

# we can do this normally as
positives = []  # empty list that will contain the positives

for x in numbers:
    if x >= 0:                # if x is positive
        positives.append(x)   # then append the value to the list of positives
positives

[3, 2, 5, 1, 4, 1]

In [24]:
# the same thing can be written faster and more efficiently as list comprehension
# which is compact and runs faster (why it runs faster doesnt matter) than the previous version 
positives = [x for x in numbers if x >= 0]  # the final solution
positives

[3, 2, 5, 1, 4, 1]

In [25]:
# a list comprehension is a little bit more complicated than a simple for loop
# the overall syntax can be summarized as
# newlist = [expression for item in iterable <if condition == True, optional>]
# if the condition on the right side is True than it will put the value of the expression in the list, otherwise continues with the next element
# the important bit is that the expression can be anything and it can make it look complicated
# lets say we want to do the following:
# 1. keep positive elements only
# 2. add 1 to the element if it is even, and raise the number to the power of 2 if it is odd

In [26]:
result = [x+1 if x % 2 == 0 else x**2 for x in numbers if x >= 0]
# the left side of the for is an expression "x+1 if x % 2 == 0 else x**2" and the right side of the for is a filter condition "if x >= 0"
# first python check "if x >= 0" if it is True then the expression (left side) gets evaluated
# "x+1 if x % 2 == 0 else x**2" = write x+1 in to the list if x % 2 == 0, otherwise write x**2 into the list
result

[9, 3, 25, 1, 5, 1]

In [27]:
# the list comprehension above is equal to the following:

result = []
for x in numbers:
    if x >=0:  # is positive
        if x % 2 == 0:  # is even
            result.append(x + 1)
        else:
            result.append(x**2)

result

[9, 3, 25, 1, 5, 1]

In [28]:
# similar list comprehension can be constructed for dictionaries as well, but it is a little bit different
# {key: expression for key, value in dictionary.items() if condition == True}
# for example, lets filter for the key-values pairs which has a positive value
{key: value for key, value in dict_.items() if value >=0}

{'first': 12, 'second': 5}

In [29]:
# In a similar manner as earlier, lets do the following:
# 1. keep positive key-value pairs only
# 2. add 1 to the value if it is even, and raise the number to the power of 2 if it is odd
{key: value+1 if value % 2 == 0 else value**2 for key, value in dict_.items() if value >=0}

{'first': 13, 'second': 25}

### Exercise

In [30]:
# Find all of the numbers from 1-1000 that are divisible by 7

In [31]:
# Find all of the numbers from 1-1000 that have a 3 in them

In [32]:
# Find all of the strings that has an "d" in them
words = ["middle", "catalogue", "exceed", "board", "familiar", "reward", "satellite", "grace", "respectable"]

## Functions and Lambdas

In [33]:
def add(a, b):
    return a + b

add(2, 3)

5

In [34]:
# a lambda function is an inline anonymous function
# signiture:
# lambda parameter_list: expression
add = lambda a, b: a + b

add(2, 3)

5

### Exercise

In [35]:
# make a lambda function the calculates the sum of positive values within a list
# use the earlier list "numbers" as input
# use the "sum" built-in function

# Numpy

- What is NumPy?
  - Python library for numerical computing.
  - Provides the `ndarray` ($N$ Dimensional Array) object for fast, vectorized operations.
- Why NumPy vs. plain Python lists?
  - Speed, memory efficiency, mathematical operations, broadcasting.

In [36]:
import numpy as np

## Matrix Creation

In [37]:
# creation from Python list
np.array([1, 5, -1])

array([ 1,  5, -1])

In [38]:
# 2D array
np.array([[1, 5, -1], [2, -6, 3]])

array([[ 1,  5, -1],
       [ 2, -6,  3]])

In [39]:
# allocate array (values can be random numbers)
# it will allocate memory for the array but if something was in the memory at that address earlier then it will be part of the array
# the only parameter is the shape which is a tuple in this case
np.empty((2, 3))  # empty array with 2 rows and 3 column

array([[0., 0., 0.],
       [0., 0., 0.]])

In [40]:
# array filled with zeros
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [41]:
# array filled with ones
np.ones((2, 3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [42]:
# array filled with any contant value
np.full((2, 3), fill_value=7)

array([[7, 7, 7],
       [7, 7, 7]])

In [43]:
# creating a sequence of numbers
# np.arange(from, to, step_size)
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

In [44]:
# return evenly spaced numbers over a specified interval
# np.arange(from, to, number_of_intervals)
np.linspace(0, 10, 3)

array([ 0.,  5., 10.])

In [45]:
np.random.seed(0)   # sets the seed, this will guranatee that everyone will generate the random numbers, by default it will use the current timestamp as seed

In [46]:
np.random.rand(5)   # generates 5 random number from uniform distribution

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ])

In [47]:
np.random.randn(5)  # generates 5 random numbers from normal distribution

array([-0.84272405,  1.96992445,  1.26611853, -0.50587654,  2.54520078])

In [48]:
np.random.randn(2, 5)  # generates random numbers from normal distribution with shape (2=rows, 5=columns)

array([[ 1.08081191,  0.48431215,  0.57914048, -0.18158257,  1.41020463],
       [-0.37447169,  0.27519832, -0.96075461,  0.37692697,  0.03343893]])

In [49]:
# generates a natrix by multivariate normal distribution
# first parameter is the expected value for each column: [0, 0, 0]
# second parameter is the covariance matrix for each column: [[1, 0.3, 0.1], [0.3, 1, -0.5], [0.1, -0.5, 1]]
# third parameters is the nmber of vectors: 10
np.random.multivariate_normal([0, 0, 0], [[1, 0.3, 0.1], [0.3, 1, -0.5], [0.1, -0.5, 1]], 10)

array([[-1.50423714, -0.98811025, -0.5029329 ],
       [ 1.53141428,  0.21533174,  0.48396581],
       [ 0.90580116,  0.71829499,  1.36554954],
       [ 0.20466754, -0.94503822,  0.11772901],
       [ 1.24807438, -1.34321751,  1.79932714],
       [-0.20210781, -0.64725475, -0.50587925],
       [-0.37907779, -0.93381374,  0.00514848],
       [-2.15681569, -0.97032769, -0.15470106],
       [-0.06549545, -0.06250764, -0.1670241 ],
       [-0.9948253 , -0.58715758, -0.25731277]])

In [50]:
# Checking the dimensionality of a matrix/vector
# everey ndarray defines the shape attribute which returns the size of each dimension
np.random.randn(2, 5).shape

(2, 5)

### Exercise

In [51]:
# create a vector with numbers going from 1 to 100

In [52]:
# create a vector with numbers going from 100 to 1

In [53]:
# create a random uniform matrix with 3 dimension, first dimension has a size of 20, second dimension has a size of 10, third dimension has a size of 100

In [54]:
# print the shape of the previous array

In [55]:
# create a 3x3 matrix filled with -1

## Indexing and Slicing

In [56]:
# lets say we have the following 2D array
X = np.random.randn(2, 5)
X

array([[-0.02797118,  1.47598983,  0.6467801 , -0.36433431, -0.67877739],
       [-0.35362786, -0.74074747, -0.67502183, -0.13278426,  0.61980106]])

In [57]:
# we can access a row by
X[0]  # or X[0, :], ":" selects all element within that dimension, can be ommited in this case

array([-0.02797118,  1.47598983,  0.6467801 , -0.36433431, -0.67877739])

In [58]:
# we can access a column by
X[:, 0]  # ":" selects all row and from all row selects column 0

array([-0.02797118, -0.35362786])

In [59]:
# we can more precisely select sub-matrices
X[:2, :2]  # select the first 2 row, and select the first 2 columns. ":2" is a shorthand for "0:2"

array([[-0.02797118,  1.47598983],
       [-0.35362786, -0.74074747]])

In [60]:
# lets shift this selection windows by 1
X[:2, 1:3]

array([[ 1.47598983,  0.6467801 ],
       [-0.74074747, -0.67502183]])

In [61]:
# we can even use negative indices which will start the index from then end of that dimension
X[:2, -2:]  # this is the same as X[:2, X.shape[1]-2:]

array([[-0.36433431, -0.67877739],
       [-0.13278426,  0.61980106]])

In [62]:
X[:2, X.shape[1]-2:]

array([[-0.36433431, -0.67877739],
       [-0.13278426,  0.61980106]])

### Exercise

In [63]:
# select the last column of the matrix X

In [64]:
# from the last row select all element except the first and last column

## Basic Operations

### Vectors

In [65]:
# lets generate 2 vectors
a = np.arange(1, 6)
b = np.arange(1, 11, 2)

In [66]:
a

array([1, 2, 3, 4, 5])

In [67]:
b

array([1, 3, 5, 7, 9])

In [68]:
# element-wise addition
a + b

array([ 2,  5,  8, 11, 14])

In [69]:
# element-wise substruction
a - b

array([ 0, -1, -2, -3, -4])

In [70]:
# element-wise multiplication
a * b

array([ 1,  6, 15, 28, 45])

In [71]:
# element-wise division
a / b

array([1.        , 0.66666667, 0.6       , 0.57142857, 0.55555556])

In [72]:
# special operand within numpy is the @ symbol which indicates inner product
a @ b

np.int64(95)

In [73]:
np.inner(a, b)  # same as above

np.int64(95)

In [74]:
# outer product of vectors
np.outer(a, b)

array([[ 1,  3,  5,  7,  9],
       [ 2,  6, 10, 14, 18],
       [ 3,  9, 15, 21, 27],
       [ 4, 12, 20, 28, 36],
       [ 5, 15, 25, 35, 45]])

### Matricies

Generally the same operations can be used.

In [75]:
A = np.random.randn(2, 5)
B = np.random.randn(2, 5)

In [76]:
A

array([[ 1.79116846,  0.17100044, -1.72567135,  0.16065854, -0.85898532],
       [-0.20642094,  0.48842647, -0.83833097,  0.38116374, -0.99090328]])

In [77]:
# transpose
A.T

array([[ 1.79116846, -0.20642094],
       [ 0.17100044,  0.48842647],
       [-1.72567135, -0.83833097],
       [ 0.16065854,  0.38116374],
       [-0.85898532, -0.99090328]])

In [78]:
# matrix multiplication
A @ B.T  # same as np.matmul(A, B.T)

array([[4.96607221, 6.17894557],
       [2.25461283, 1.79003415]])

## Universal Functions

This is a limited list of funtions.

In [79]:
np.abs(A)  # absolue value

array([[1.79116846, 0.17100044, 1.72567135, 0.16065854, 0.85898532],
       [0.20642094, 0.48842647, 0.83833097, 0.38116374, 0.99090328]])

In [80]:
np.sqrt(np.abs(A))  # squere root (using abs. just to remove comeplex roots)

array([[1.33834542, 0.41352199, 1.31364811, 0.40082233, 0.92681461],
       [0.45433572, 0.69887514, 0.91560415, 0.6173846 , 0.99544125]])

In [81]:
np.power(A, 3)  # power of 3

array([[ 5.74657793e+00,  5.00024944e-03, -5.13894853e+00,
         4.14678435e-03, -6.33807285e-01],
       [-8.79551491e-03,  1.16519220e-01, -5.89178003e-01,
         5.53776796e-02, -9.72957345e-01]])

In [82]:
np.sin(A)   # sinus, similarly np.cos, np.tan... can be used

array([[ 0.97581617,  0.17016828, -0.98803082,  0.1599683 , -0.75718016],
       [-0.20495814,  0.46923693, -0.74352806,  0.37200095, -0.83652126]])

## Reduction Operations

This is a limited list of functions.

In [83]:
np.sum(A)  # sums all value of the input

np.float64(-1.6278942106207595)

In [84]:
np.mean(A)  # average of all elements

np.float64(-0.16278942106207595)

In [85]:
np.min(A)  # minimum of all elements

np.float64(-1.7256713515873643)

In [86]:
np.max(A)  # maximum of all elements

np.float64(1.7911684612099155)

In [87]:
# for reduction operation we can specify the direction as well
# for example, if we want to calculate the mean of all rows or mean of all columns independently
A.shape

(2, 5)

In [88]:
np.mean(A, axis=0)  # mean of all columns

array([ 0.79237376,  0.32971345, -1.28200116,  0.27091114, -0.9249443 ])

In [89]:
np.mean(A, axis=1)  # mean of all rows

array([-0.09236585, -0.233213  ])

## Reshaping

In [90]:
# we already discussed one of the simplest "reshaping" feature: transposition
A.T

array([[ 1.79116846, -0.20642094],
       [ 0.17100044,  0.48842647],
       [-1.72567135, -0.83833097],
       [ 0.16065854,  0.38116374],
       [-0.85898532, -0.99090328]])

In [91]:
# we can reshape this matrix as we wish (within certain constraints)
A_ = A.reshape(1, 10)
A_.shape

(1, 10)

In [92]:
# reshape can take -1 as a parameter once, it means that numpy should calculate it in context of other values provided
# an example

# a vector with 18 elements
d = np.random.randn(18)
d.reshape(-1, 3)  # it means that I want 3 dimension and infer the number of rows accordingly, so it will just calculate 18/3=6 as the number of rows

array([[ 6.04159707e-01,  4.72148998e-01,  8.19917293e-01],
       [ 9.07519617e-01, -5.85822875e-01,  9.37558842e-01],
       [-2.54608092e-01,  9.73598712e-01,  2.07282772e-01],
       [ 1.09964197e+00,  9.39896981e-01,  6.06389001e-01],
       [ 1.76084071e-03, -9.90160143e-01,  1.87239408e+00],
       [-2.41073590e-01,  5.33449070e-02,  1.03081595e+00]])

In [93]:
# we can transform an arroy to a vector
A_ = A.flatten()
A_.shape

(10,)

In [94]:
# we can concatenate different matricies as long as they have the same dimensions (otherthan the dimension of cancatenation)
A_ = np.concatenate([A, B], axis=0)
A_.shape

(4, 5)

In [95]:
A_ = np.concatenate([A, B], axis=1)
A_.shape

(2, 10)

## Boolean Selection

In [96]:
# we can mask operation with boolean masks
# a boolean mask is just a vector or matrix (same shape as the input) that has a True value for each position where we wish to make some modification
# lets start with vectors
np.random.seed(0)
a = np.random.randn(10)
a

array([ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ,  1.86755799,
       -0.97727788,  0.95008842, -0.15135721, -0.10321885,  0.4105985 ])

In [97]:
# lets select each positive values
a[a >= 0]

array([1.76405235, 0.40015721, 0.97873798, 2.2408932 , 1.86755799,
       0.95008842, 0.4105985 ])

In [98]:
# where a >= 0 is just a vector with True values where the condition is satisfied
a >= 0

array([ True,  True,  True,  True,  True, False,  True, False, False,
        True])

In [99]:
# now lets set each negative value to 0
a[a < 0] = 0
a

array([1.76405235, 0.40015721, 0.97873798, 2.2408932 , 1.86755799,
       0.        , 0.95008842, 0.        , 0.        , 0.4105985 ])

In [100]:
# not lets add 1 to each value that is less than 1
a[a < 1] += 1
a

array([1.76405235, 1.40015721, 1.97873798, 2.2408932 , 1.86755799,
       1.        , 1.95008842, 1.        , 1.        , 1.4105985 ])

In [101]:
# The same thing can be done with matricies but the mask has the shape of the input matrix
np.random.seed(0)
A = np.random.randn(4, 4)
A

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ],
       [ 1.86755799, -0.97727788,  0.95008842, -0.15135721],
       [-0.10321885,  0.4105985 ,  0.14404357,  1.45427351],
       [ 0.76103773,  0.12167502,  0.44386323,  0.33367433]])

In [102]:
# the selection will return a vector of masked values, due to the number of returned values can not be reshaped into a matrix
A[A>=0]

array([1.76405235, 0.40015721, 0.97873798, 2.2408932 , 1.86755799,
       0.95008842, 0.4105985 , 0.14404357, 1.45427351, 0.76103773,
       0.12167502, 0.44386323, 0.33367433])

In [103]:
# the mask
A>=0

array([[ True,  True,  True,  True],
       [ True, False,  True, False],
       [False,  True,  True,  True],
       [ True,  True,  True,  True]])

In [104]:
# but we can do everything else just like earlier
# lets set each negative value to 0
A[A < 0] = 0  # this is an inplace operation
A

array([[1.76405235, 0.40015721, 0.97873798, 2.2408932 ],
       [1.86755799, 0.        , 0.95008842, 0.        ],
       [0.        , 0.4105985 , 0.14404357, 1.45427351],
       [0.76103773, 0.12167502, 0.44386323, 0.33367433]])

In [105]:
# not lets add 1 to each value that is less than 1
A[A < 1] += 1  # this is an inplace operation
A

array([[1.76405235, 1.40015721, 1.97873798, 2.2408932 ],
       [1.86755799, 1.        , 1.95008842, 1.        ],
       [1.        , 1.4105985 , 1.14404357, 1.45427351],
       [1.76103773, 1.12167502, 1.44386323, 1.33367433]])

In [106]:
# we can also select specific rows or columns with vector like masks
# lets say we want select each row with an expected value of less than 1.45

# first calculate the expected value for each row
expected_value = np.mean(A, axis=1)
expected_value

array([1.84596018, 1.4544116 , 1.2522289 , 1.41506258])

In [107]:
# then make the mask
mask = (expected_value < 1.45)
mask

array([False, False,  True,  True])

In [108]:
# the we have to index the correct dimension with this mask
A[mask]

array([[1.        , 1.4105985 , 1.14404357, 1.45427351],
       [1.76103773, 1.12167502, 1.44386323, 1.33367433]])

In [109]:
# the same can be done with the matrix columns

# we have to reduce along the other axes
expected_value = np.mean(A, axis=0)
mask = (expected_value < 1.45)
# we have to mask the other axes
A[:, mask]  # select all row, select columns with mask

array([[1.40015721],
       [1.        ],
       [1.4105985 ],
       [1.12167502]])

In [110]:
mask  # the value of the mask

array([False,  True, False, False])

## Broadcasting

Broadcasting is an important concept within any matrix engine. It can be seen as an efficient method to fill in values when making operations between an $N$ dimensional and an $N+1$ dimensional matrix. IN detail see [Numpy Broadcasting Guide](https://numpy.org/doc/stable/user/basics.broadcasting.html).

![broadcasting](https://numpy.org/doc/stable/_images/broadcasting_1.png)


![broadcasting2](https://numpy.org/doc/stable/_images/broadcasting_2.png)

In [111]:
# lets demonstrate it by following the example on the first image
a = np.array([1, 2, 3])
b = np.array([2])

# in order to be able to multiply each element with 2 we have to virtually stretch vector b, in other words broadcast it to all other positions. 
a * b

array([2, 4, 6])

In [112]:
# a more interesting example can be seen in the second image
# we have to broad cast the values of vector b to all rows

a = np.array([[0, 0, 0], [10, 10, 10], [20, 20, 20], [30, 30, 30]])
b = np.array([1, 2, 3])

a + b

array([[ 1,  2,  3],
       [11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [113]:
# lets see a different scenario
# lets say we want to add the values of vector b to each column
# first we have to add an extra element to vector b to match the number of rows

a = np.array([[0, 0, 0], [10, 10, 10], [20, 20, 20], [30, 30, 30]])
b = np.array([1, 2, 3, 4])

# this simply gives an error because the shape does not match, numpy can not infer the direction of broadcasting, we have to fix that
a + b

ValueError: operands could not be broadcast together with shapes (4,3) (4,)

![bb](https://numpy.org/doc/stable/_images/broadcasting_3.png)

In [114]:
# to solve this problem we have to add a virtual dimension to our vector

# -1 means that numpy should calculate the shape at that positon 
# numpy knows the overall shape of the input matrix, it knows that we want 1 at the second position, so it will just infer "num_values/1"
b_ = b.reshape(-1, 1)
b_.shape  # 4 rows, 1 column

(4, 1)

In [115]:
# so the final solution is
a + b_

array([[ 1,  1,  1],
       [12, 12, 12],
       [23, 23, 23],
       [34, 34, 34]])

In [116]:
# a shorter solution
a + b[:, None]  # b[:, None] == b.reshape(-1, 1), selects all value to the rows and appends a dimension

array([[ 1,  1,  1],
       [12, 12, 12],
       [23, 23, 23],
       [34, 34, 34]])

## Exercise

In [117]:
# Create a NumPy array of numbers from 1 to 36.
# Reshape it into a 6×6 matrix.
# Print its shape

In [118]:
# Extract the third row.
# Extract the last column.
# Extract the submatrix of the middle 4×4 block.

In [119]:
# Multiply the 6×6 matrix by 2 (elementwise).
# Compute the mean of all elements.
# Compute the variance of each column.

In [120]:
# Create a vector [10, 20, 30, 40, 50, 60].
# Add this vector to each column of the 6×6 matrix.

In [121]:
# Generate an array of random numbers from a uniform distribution with a shape of (1000, 50)
# Calculate the variance of each row

In [122]:
# Generate an array of 1000 random numbers from a normal distribution (np.random.randn).
# Compute its mean, standard deviation, min, and max.
# Count how many numbers are between -1 and 1.

In [123]:
# Generate a fake dataset with shape (100, 3) using np.random.rand (values between 0 and 1).
# -> Column 1 = Age (scale to 18–60).
# -> Column 2 = Height (scale to 150–200).
# -> Column 3 = Weight (scale to 50–100).
# Compute the average age, height, and weight.
# Select all rows where age > 30 and weight < 70.

# Pandas

What is Pandas?
- Library for working with tabular data (like spreadsheets or SQL tables).
- Provides `Series` (1D) and `DataFrame` (2D).

In [124]:
import pandas as pd

## DataFrame Creation

In [125]:
# from dictionary
input_data = {
    "names": ["John", "Angela", "Mike", "Gustave", "Emili"],
    "age": [51, 22, 30, 17, 25],
    "height": [171, 165, 188, 155, 160],
    "salery": [500, 600, 700, 150, 650]
}
# the keys will be the column names and the lists will be the values for each row
df = pd.DataFrame(data=input_data)
df

     names  age  height  salery
0     John   51     171     500
1   Angela   22     165     600
2     Mike   30     188     700
3  Gustave   17     155     150
4    Emili   25     160     650

In [126]:
# from numpy
input_data = np.array(
    [
        ["John", "Angela", "Mike", "Gustave", "Emili"],
        [51, 22, 30, 17, 25],
        [171, 165, 188, 155, 160],
        [500, 600, 700, 150, 650]
    ]
)

column_names = ["names", "age", "height", "salery"]

# we have to provide the column names explicitly
# note that, I used a transposition so that each feature align with the columns
df = pd.DataFrame(data=input_data.T, columns=column_names)
df

     names age height salery
0     John  51    171    500
1   Angela  22    165    600
2     Mike  30    188    700
3  Gustave  17    155    150
4    Emili  25    160    650

In [127]:
# we can simply read different file formats where we only have to provide a path or a link
# CSV: read_csv, if we provide sep='\t' then it can read TSV files
# Excel: read_excel
# JSON: read_json
# XML: read_xml
# ...
# check the API references for more

# for now we are going to read the bike rental dataset
df = pd.read_csv("https://github.com/ficstamas/data-mining/raw/b76d5b7913c446878fa47de8861c83e26780828f/data/rental.csv", index_col=0)
df

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0

In [128]:
# we can access the names of columns sa
df.columns

Index(['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'cnt'],
      dtype='object')

In [129]:
# to access a column
df["temp"]  # or df.temp

0      24.175849
1      25.083466
2      17.229108
3      17.400000
4      18.666979
         ...
726    19.945849
727    19.906651
728    19.906651
729    20.024151
730    18.144151
Name: temp, Length: 731, dtype: float64

In [130]:
# there are two ways select a row from a dataframe
df.iloc[0]  # selects the row that is the 0th in order

season           spring
yr                 2011
mnth            january
holiday             0.0
weekday             6.0
workingday          0.0
weathersit          2.0
temp          24.175849
atemp          39.99925
hum             80.5833
windspeed     10.749882
cnt               985.0
Name: 0, dtype: object

In [131]:
df.loc[0]  # selects the row that has the index of 0 (left column of the dataframe), this will be the same in this case

season           spring
yr                 2011
mnth            january
holiday             0.0
weekday             6.0
workingday          0.0
weathersit          2.0
temp          24.175849
atemp          39.99925
hum             80.5833
windspeed     10.749882
cnt               985.0
Name: 0, dtype: object

In [132]:
# it can be better demonstrated if we permute the rows
# for demonstration purposes, I'm going to select the first 10 rows and then permute them
sub_df = df.sample(n=10, random_state=0)  # .sample will randomly resample the dataframe, n defines the number of samples, random_state defines the random state
sub_df

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
196,fall,2011,july,0.0,6.0,0.0,1.0,40.273349,58.125358,58.5000,13.958914,5923.0
187,fall,2011,july,0.0,4.0,1.0,1.0,43.250000,61.333486,65.1250,10.666400,4592.0
14,spring,2011,january,0.0,6.0,0.0,2.0,18.966651,32.375392,49.8750,10.583521,1248.0
31,spring,2011,february,0.0,2.0,1.0,2.0,17.032178,31.478980,82.9565,3.565271,1360.0
390,spring,2012,january,0.0,4.0,1.0,2.0,24.058349,39.499300,76.9583,4.917519,4075.0
319,winter,2011,november,0.0,3.0,1.0,3.0,29.463349,45.831208,93.0000,9.167543,1817.0
299,winter,2011,october,0.0,4.0,1.0,2.0,30.090000,46.165036,81.2917,13.250121,2659.0
702,winter,2012,december,0.0,1.0,1.0,1.0,29.267500,46.082536,76.7500,5.542294,6234.0
462,summer,2012,april,0.0,6.0,0.0,1.0,28.562500,44.124514,25.4167,18.416357,6857.0
27,spring,2011,january,0.0,5.0,1.0,2.0,17.563466,30.738922,79.3043,8.261100,1167.0

## Indexing and Slicing

In [133]:
# sub_df.iloc[0] will return the first row
sub_df.iloc[0]

season             fall
yr                 2011
mnth               july
holiday             0.0
weekday             6.0
workingday          0.0
weathersit          1.0
temp          40.273349
atemp         58.125358
hum                58.5
windspeed     13.958914
cnt              5923.0
Name: 196, dtype: object

In [134]:
# but sub_df.loc[0] will return an error
# to get the same element you have to provide the index of the first row
sub_df.loc[196]

season             fall
yr                 2011
mnth               july
holiday             0.0
weekday             6.0
workingday          0.0
weathersit          1.0
temp          40.273349
atemp         58.125358
hum                58.5
windspeed     13.958914
cnt              5923.0
Name: 196, dtype: object

In [135]:
# we can slice just like as we would do in other libraries
df.iloc[:10]

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0
5,spring,2011,january,0.0,4.0,1.0,1.0,17.604356,31.391794,51.8261,6.000868,1606.0
6,spring,2011,january,0.0,5.0,1.0,2.0,17.236534,29.783374,49.8696,11.304642,1510.0
7,spring,2011,january,0.0,6.0,0.0,2.0,15.755000,26.708764,53.5833,17.875868,959.0
8,spring,2011,january,0.0,0.0,0.0,1.0,14.501651,23.667550,43.4167,24.250650,822.0
9,spring,2011,january,0.0,1.0,1.0,1.0,15.089151,25.958608,48.2917,14.958889,1321.0

## Inspecting Data

In [136]:
# displays the first 5 rows
df.head(5)

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0

In [137]:
# displays the last 5 rows
df.tail(5)

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0

In [138]:
# displays meta informations, sizes, data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 731 entries, 0 to 730
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      731 non-null    object
 1   yr          731 non-null    int64
 2   mnth        731 non-null    object
 3   holiday     731 non-null    float64
 4   weekday     731 non-null    float64
 5   workingday  731 non-null    float64
 6   weathersit  731 non-null    float64
 7   temp        731 non-null    float64
 8   atemp       731 non-null    float64
 9   hum         731 non-null    float64
 10  windspeed   731 non-null    float64
 11  cnt         731 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 90.4+ KB

In [139]:
# caclulates percentiles, averages, and standard deviations for each column
# it is good for a fast, first inspection
df.describe()

,yr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,2011.500684,0.028728,2.997264,0.683995,1.395349,31.283085,47.307363,62.789406,12.762576,4504.348837
std,0.500342,0.167155,2.004787,0.465233,0.544894,8.603397,10.755438,14.242910,5.192357,1937.211452
min,2011.000000,0.000000,0.000000,0.000000,1.000000,10.779129,21.218594,0.000000,1.500244,22.000000
25%,2011.000000,0.000000,1.000000,0.000000,1.000000,23.842925,38.297605,52.000000,9.041650,3152.000000
50%,2012.000000,0.000000,3.000000,1.000000,1.000000,31.421651,48.124378,62.666700,12.125325,4548.000000
75%,2012.000000,0.000000,5.000000,1.000000,2.000000,38.804575,56.167732,73.020850,15.625371,5956.000000
max,2012.000000,1.000000,6.000000,1.000000,3.000000,48.498349,71.499136,97.250000,34.000021,8714.000000

## Filtering

In [140]:
# just like in numpy, we can use boolean masks to filter the dataset
# lets filter for the datapoints that was recorded in 2012
df[df.yr == 2012]

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
365,spring,2012,january,0.0,0.0,0.0,1.0,25.390000,40.790986,69.2500,12.875189,2294.0
366,spring,2012,january,1.0,1.0,0.0,1.0,20.833021,32.652064,38.1304,22.087555,1951.0
367,spring,2012,january,0.0,2.0,1.0,1.0,15.050000,24.334150,44.1250,24.499957,2236.0
368,spring,2012,january,0.0,3.0,1.0,2.0,13.052500,23.876242,41.4583,12.374900,2368.0
369,spring,2012,january,0.0,4.0,1.0,1.0,20.494151,34.375192,52.4167,8.709129,3272.0
...,...,...,...,...,...,...,...,...,...,...,...,...
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0

In [141]:
# now lets filter for the datapoints that was recorded in the summer of 2012
# here "&" performs a logical and operation between the two boolean mask
# when we merge two masks in this manner parenthasis are important
# because "&" would execute before "=="
# so we just ensure the order of operations
df[(df.yr == 2012) & (df.season == "summer")]

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
445,summer,2012,march,0.0,3.0,1.0,2.0,32.988349,49.875028,82.1250,6.000406,6230.0
446,summer,2012,march,0.0,4.0,1.0,1.0,34.045849,51.083422,83.1250,7.876654,6871.0
447,summer,2012,march,0.0,5.0,1.0,2.0,36.278349,53.624422,69.4167,7.792100,8362.0
448,summer,2012,march,0.0,6.0,0.0,2.0,31.617500,48.124378,88.5417,12.916461,3372.0
449,summer,2012,march,0.0,0.0,0.0,2.0,28.562500,44.874208,88.0833,14.791925,4996.0
...,...,...,...,...,...,...,...,...,...,...,...,...
532,summer,2012,june,0.0,6.0,0.0,1.0,37.688349,55.250728,50.4167,11.166689,7702.0
533,summer,2012,june,0.0,0.0,0.0,1.0,35.847500,53.750350,59.8750,9.708568,6978.0
534,summer,2012,june,0.0,1.0,1.0,2.0,34.711651,51.959572,77.7917,11.707982,5099.0
535,summer,2012,june,0.0,2.0,1.0,1.0,40.351651,59.209672,69.0000,9.917139,6825.0
536,summer,2012,june,0.0,3.0,1.0,1.0,44.777500,63.584350,59.2083,7.625404,6211.0

In [142]:
# temperature between 20 and 30
df[(df.temp >= 20) & (df.temp <= 30)]

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0
18,spring,2011,january,0.0,3.0,1.0,2.0,21.732178,35.695852,74.1739,13.957239,1650.0
19,spring,2011,january,0.0,4.0,1.0,2.0,20.298349,32.833300,53.8333,13.125568,1927.0
32,spring,2011,february,0.0,3.0,1.0,2.0,20.220000,32.791522,77.5417,17.708636,1526.0
...,...,...,...,...,...,...,...,...,...,...,...,...
719,winter,2012,december,0.0,4.0,1.0,2.0,23.510000,38.124322,66.7917,8.875021,4128.0
720,spring,2012,december,0.0,5.0,1.0,2.0,23.353349,35.916622,55.6667,25.083661,3623.0
721,spring,2012,december,0.0,6.0,0.0,1.0,20.494151,31.583458,44.1250,27.292182,1749.0
724,spring,2012,december,1.0,2.0,0.0,2.0,21.691288,35.434690,73.4783,11.304642,1013.0
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0

## Adding & Modifying Columns

In [143]:
# we can add columns easily, we can assign constant values (and broadcast it), or vectors with the same length as your dataframe
df["extra_column"] = 0
df

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,extra_column
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0,0
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0,0
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0,0
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0,0
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0,0
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0,0
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0,0
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0,0
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0,0

In [144]:
# we can assign the result of vector arithmetics, 
# for example: lets calculate the difference of atemp and temp, and assign it to the temp_diff column
df["temp_diff"] = df.temp - df.atemp
df

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,extra_column,temp_diff
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0,0,-15.823401
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0,0,-14.263308
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0,0,-11.271622
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0,0,-12.600052
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0,0,-12.464841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0,0,-11.012523
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0,0,-12.926385
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0,0,-12.091749
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0,0,-11.268049
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0,0,-12.605991

In [145]:
# we can also apply any operation to rows or columns
# lets take the absolute value of temp_diff
# we can pass any function to apply, in this case we are going to pass np.abs, but we can provide any lambda function or function names too
df["temp_diff"] = df["temp_diff"].apply(np.abs)
df

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,extra_column,temp_diff
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0,0,15.823401
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0,0,14.263308
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0,0,11.271622
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0,0,12.600052
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0,0,12.464841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0,0,11.012523
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0,0,12.926385
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0,0,12.091749
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0,0,11.268049
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0,0,12.605991

In [146]:
# example for lambda function
# it will just divide the value with 10
df["temp_diff"] = df["temp_diff"].apply(lambda x: x/10)
df

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,extra_column,temp_diff
0,spring,2011,january,0.0,6.0,0.0,2.0,24.175849,39.999250,80.5833,10.749882,985.0,0,1.582340
1,spring,2011,january,0.0,0.0,0.0,2.0,25.083466,39.346774,69.6087,16.652113,801.0,0,1.426331
2,spring,2011,january,0.0,1.0,1.0,1.0,17.229108,28.500730,43.7273,16.636703,1349.0,0,1.127162
3,spring,2011,january,0.0,2.0,1.0,1.0,17.400000,30.000052,59.0435,10.739832,1562.0,0,1.260005
4,spring,2011,january,0.0,3.0,1.0,1.0,18.666979,31.131820,43.6957,12.522300,1600.0,0,1.246484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,spring,2012,december,0.0,4.0,1.0,2.0,19.945849,30.958372,65.2917,23.458911,2114.0,0,1.101252
727,spring,2012,december,0.0,5.0,1.0,2.0,19.906651,32.833036,59.0000,10.416557,3095.0,0,1.292639
728,spring,2012,december,0.0,6.0,0.0,2.0,19.906651,31.998400,75.2917,8.333661,1341.0,0,1.209175
729,spring,2012,december,0.0,0.0,0.0,1.0,20.024151,31.292200,48.3333,23.500518,1796.0,0,1.126805
730,spring,2012,december,0.0,1.0,1.0,2.0,18.144151,30.750142,57.7500,10.374682,2729.0,0,1.260599

[More examples can be found at the API reference page](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

## Aggregations & GroupBy

In [147]:
# we can aggrage (reduce) the data with the usual functions like
df.temp.mean()

np.float64(31.28308505991792)

In [148]:
df.temp.std()

np.float64(8.603396817239974)

In [149]:
# we can perform aggregation operations as well
# for example we can calculate the average temperature by seasons

# first we select the temp and season columns
# then we are going to groupby the values by season
# then we are going to reduce each group with the mean function
df[["season", "temp"]].groupby(["season"]).mean()

             temp
season
fall    41.196537
spring  21.994135
summer  33.587042
winter  27.876584

In [150]:
# we can groupby on multiple levels, so lets include the year too
df[["yr", "season", "temp"]].groupby(["yr", "season"]).mean()

                  temp
yr   season
2011 fall    40.955161
     spring  20.855838
     summer  33.109888
     winter  28.042887
2012 fall    41.437914
     spring  23.119923
     summer  34.064196
     winter  27.710281

## Exercise

In [151]:
# Exercise 1: Create & Inspect
# Create a DataFrame of 10 students with columns (you can use random data if you wish):
# -> "Name" (string)
# -> "Age" (18–25)
# -> "Grade" (0–100)
# -> "Major" (for example: "CS", "Math", "Physics")
# Inspect: show first 5 rows, summary stats, and column names.

In [152]:
# Select the "Name" and "Grade" columns.
# Select all students older than 21.
# Select all "Math" majors with grade > 70.

In [153]:
# Add a column "Pass" where grade ≥ 50 → "Yes", else "No".
# Add a column "AgeGroup": "Teen" if <20, "Adult" otherwise.

In [154]:
# Group by "Major" and compute the average grade per major.
# Count how many students passed in each major.

In [155]:
# Sort the DataFrame by grade (descending). Hint: .sort_values, .nlargest, .nsmallest
# Get the top 3 students overall.